@import "tailwindcss";

@theme {
  --color-primary-blue: #002d5e;
  --color-accent-orange: #fe7e00;
  --color-light-accent-orange: #ff9f40;
  --color-light-blue: #e6f0ff;
  --color-bg-light: #f8faff;
}

* {
  font-family: "Inter", system-ui, sans-serif;
}
.gradient-bg {
  background: linear-gradient(135deg, #f8faff 0%, #ffffff 100%);
}
.gradient-orange {
  background: linear-gradient(45deg, #fe7e00, #ff9533);
}
